<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Posts</title>
</head>

<body>
	<h2>All Posts</h2>
	<form th:action="@{/posts/create}" method="post" enctype="multipart/form-data">
		<input type="text" name="caption" placeholder="Caption" required><br>
		<input type="file" name="image" required><br>
		<button type="submit">Post</button>
	</form>

	<div th:each="post : ${posts}">
		<h3 th:text="${post.caption}"></h3>
		<img th:src="@{'/posts/' + ${post.imagePath}}" width="200" />
		<p>Posted by: <span th:text="${post.user.getUsernameField()}"></span></p>
		<p>Date: <span th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm')}"></span></p>

		<hr>
	</div>
	<a th:href="@{/profile}">Back to Profile</a>
</body>

</html>